<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>文档输出模板</title>
    <link rel="stylesheet" href="./css/doc.css">
    <link rel="stylesheet" href="./css/solarized-light.css">
</head>
</head>
<body >
<div class="g-box">
    <div class="g-nav j-nav"><%-nav%></div>
    <div class="g-container j-cnt"><%-content%></div>
</div>
<script src="./js/jquery.min.js"></script>
<script src="./js/ZeroClipboard.min.js"></script>
<script src="./js/doc.js"></script>
</body>
</html>